body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Antonio', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: '#333333';
}

button {
  all: unset;
}

input {
  all: unset;
  border: 1px #dddd solid;
}

.btn {
  height: 40px;
  width: 200px;
  text-align: center;
  font-size: 18px;
  margin: 8px;
  background-color: #f39c12;
}
