body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Antonio', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: '#333333';
}

button {
  all: unset;
}

input {
  all: unset;
  border: 1px #dddd solid;
}

.btn {
  height: 40px;
  width: 200px;
  text-align: center;
  font-size: 18px;
  margin: 8px;
  background-color: #f39c12;
}

.col-2 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.flex_center_row {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.line {
  height: 1px;
  width: 80%;
  background-color: #333333;
  margin: 0px auto;
}

@media (max-width: 1024px) {
  .col-2 {
    grid-template-columns: 1fr;
  }
  .col-2 .item:nth-of-type(1) {
    order: 1;
  }
  .flex_center_row {
    justify-content: center;
  }
  .t-me-20 {
    margin-right: 20px;
  }
}
